@charset "UTF-8";    

@import 'https://fonts.googleapis.com/css?family=Mali';

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #f8f4e6;
    background-color: #5b7e91;
}

a
{
    text-decoration: none;

    color: #f6bfbc;
}
a:visited
{
    color: #f09199;
}
a:hover
{
    color: #f09199;
}
a:active
{
    color: #f6bfbc;
}
a:hover
{
    text-decoration: underline;
}

.text-center
{
    text-align: center;
}

.block-center,
section .container,
#skills i
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}


.mali,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    font-family: 'Mali', cursive;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    text-transform: uppercase;
}

.button-contact
{
    font-size: 20px;
    line-height: 0;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #f8f4e6;
    border: 2px dashed #f8f4e6;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.button-contact:visited
{
    color: #f6bfbc;
}
.button-contact:hover,
.button-contact:active
{
    color: #fff;
    background-color: #f6bfbc;
}


header .profile
{
    clear: both;
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}
header .site-title
{
    font-size: 1.8rem;
    line-height: normal;
}
header .site-title span
{
    font-size: 4.2rem;
    display: block;

    color: #f6bfbc;
}
header .profile-icon
{
    margin: 30px auto;
    -webkit-border-radius: 20%;
       -moz-border-radius: 20%;
            border-radius: 20%;
}
header p
{
    font-size: 1.6rem;
}

section
{
    padding: 60px 0;
}
section .container
{
    width: 90%;
}
section h2
{
    font-size: 3.2rem;
}

#skills
{
    background-color: #99CCCC;
}
#skills .container
{
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;
}
#skills h2
{
    margin-bottom: 60px;
    color: #fdfcf6;
}
#skills .skill-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 0px 10px;
    padding: 20px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #5b7e91;
}
#skills i
{
    font-size: 4.5rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #f6bfbc;
}
#skills h3
{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f6bfbc;
}

#works
{
    padding-bottom: 0;
}
#works h2
{
    margin-bottom: 50px;
}
#works .works-box
{
    float: left;
    width: 33.33333%;
    height: 100%;
}

#works .works-box a
{
    position: relative;
    display: block;
}
#works .works-box a .works-box-inner
{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}
#works .works-box a .works-box-inner div
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40%;
    margin: auto;
    padding: 10px 20px;
}
#works .works-box a .works-box-inner h3
{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 5px;
}
#works .works-box a .works-box-inner small
{
    font-size: 1rem;
    display: block;
    margin-bottom: 15px;
}
#works .works-box a .works-box-inner .button-readmore
{
    font-size: 1rem;
    font-weight: bold;
    display: block;
    width: 180px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #f6bfbc;
}
#works .works-box a .works-box-inner .button-readmore:hover
{
    background-color: #f09199;
}
#works .works-box a:hover .works-box-inner
{
    display: block;
    width: 100%;
}
#works .works-box img
{
    display: block;
    max-width: 100%;
}

#works::after
{
    display: block;
    clear: both;
    content: '';
}

#contact ul
{
    margin-top: 60px;
    text-align: center;
}
#contact ul li
{
    font-size: 2.8rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
    text-align: center;
    vertical-align: top;
}
#contact ul li:last-child
{
    margin-right: 0;
}
#contact ul .github,
#contact ul .skype
{
    font-size: 3.2rem;
}
#contact ul .github i
{
    margin-left: 2px;
}
#contact ul a
{
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #f6bfbc;
}
#contact ul a:hover
{
    background-color: #f09199;
}

footer
{
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #99CCCC;
}